<div class="meta-wrapper">
  <div class="container">
    <h2>data_for_greg.csv</h2>

    <div class="meta">3 hours ago &middot; 1.2M &middot; 2,500 lines</div>

    <div class="margin-top-10">
      <a href="#" class="btn btn-primary">Download</a>
    </div>
  </div>
</div>


<div class="container data-wrapper">

  <div class="first-x-info">Showing first 100 records...</div>

  <table class="table table-data table-bordered table-striped table-records" ng-non-bindable>
    <tbody>
    <tr>
      <td>2014-07-18 Fri</td>
      <td>3,659,424</td>
      <td>1,409,012</td>
      <td>19,813</td>
      <td>170,389</td>
      <td>725,781</td>
      <td>19,813</td>
    </tr>
    <tr>
      <td>2014-07-17 Thu</td>
      <td>3,702,182</td>
      <td>1,565,296</td>
      <td>22,494</td>
      <td>194,079</td>
      <td>831,386</td>
      <td>22,494</td>
    </tr>
    <tr>
      <td>2014-07-16 Wed</td>
      <td>3,591,452</td>
      <td>1,543,260</td>
      <td>24,045</td>
      <td>182,527</td>
      <td>810,982</td>
      <td>24,045</td>
    </tr>
    <tr>
      <td>2014-07-15 Tue</td>
      <td>2,928,955</td>
      <td>1,501,362</td>
      <td>24,772</td>
      <td>160,128</td>
      <td>809,279</td>
      <td>24,772</td>
    </tr>
    <tr>
      <td>2014-07-14 Mon</td>
      <td>3,134,352</td>
      <td>1,489,994</td>
      <td>29,323</td>
      <td>154,230</td>
      <td>758,093</td>
      <td>29,323</td>
    </tr>
    <tr>
      <td>2014-07-13 Sun</td>
      <td>3,243,372</td>
      <td>1,608,169</td>
      <td>40,133</td>
      <td>161,926</td>
      <td>800,276</td>
      <td>40,133</td>
    </tr>
    <tr>
      <td>2014-07-12 Sat</td>
      <td>3,126,837</td>
      <td>1,539,237</td>
      <td>57,786</td>
      <td>168,118</td>
      <td>727,219</td>
      <td>57,786</td>
    </tr>
    <tr>
      <td>2014-07-11 Fri</td>
      <td>2,905,439</td>
      <td>1,540,459</td>
      <td>74,561</td>
      <td>173,837</td>
      <td>792,030</td>
      <td>74,561</td>
    </tr>
    <tr>
      <td>2014-07-10 Thu</td>
      <td>2,615,997</td>
      <td>1,671,071</td>
      <td>102,139</td>
      <td>175,012</td>
      <td>899,223</td>
      <td>102,139</td>
    </tr>
    <tr>
      <td>2014-07-09 Wed</td>
      <td>2,906,418</td>
      <td>1,599,161</td>
      <td>104,421</td>
      <td>175,886</td>
      <td>814,971</td>
      <td>104,421</td>
    </tr>
    <tr>
      <td>2014-07-08 Tue</td>
      <td>3,257,745</td>
      <td>1,777,849</td>
      <td>81,496</td>
      <td>180,978</td>
      <td>955,956</td>
      <td>81,496</td>
    </tr>
    <tr>
      <td>2014-07-07 Mon</td>
      <td>3,120,813</td>
      <td>1,630,928</td>
      <td>40,175</td>
      <td>171,780</td>
      <td>888,686</td>
      <td>40,175</td>
    </tr>
    </tbody>
  </table>

</div>