# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: postgresql
  encoding: unicode
  schema_search_path: public
  pool: 5
  username: viki
  password:
  host: localhost

development:
  <<: *default
  database: sharecsv_dev

test:
  <<: *default
  database: sharecsv_test

production:
  <<: *default
  database: db/production.sqlite3
