footer {
  text-align: center;
  border-top: 1px #D7DADD solid;
  margin-top: 50px;
  padding-top: 8px;
}

.text-center {
  text-align: center;
}

::selection {
  background: #7fd5f0;
}

.intro {
  font-family: Arial, sans-serif;
  font-size: 22px;
  margin-bottom: 35px;
  margin-top: 12px;
}

.navbar-default {
  background-color: #4679bd;
  border: 0;
  border-radius: 0;

  .navbar-brand {
    span {
      display: inline-block;
      margin-left: 10px;
      font-size: 80%;
      color: #fff;
    }
  }

  a, a:visited {
    color: #fff;
    font-size: 20px;
  }
  a:hover {
    text-decoration: underline;
  }

}

p {
  line-height: 1.5;
  margin: 10px 0;
}

.dropzone {
  z-index: 50;
  border: 6px dashed #e0e0e0;
  min-height: 360px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.03);
  padding: 23px;
  padding-top: 125px;

  .dz-preview {
    padding: 20px 150px;
  }

  &.dz-drag-hover {
    border-color: #2e2e2e;
  }

  .dz-message {
    text-align: center;
  }
  h2 {
  }
  small {
  }
}

.container {
  width: 960px;
}

.margin-top-10 {
  margin-top: 10px;
}

.meta-wrapper {
  padding-bottom: 10px;
  h2 { margin-top: 0; }
  border-bottom: 1px #D7DADD solid;
  .meta {
    color: #ADADAD;
  }
}

.data-wrapper {
  margin-top: 20px;

  .first-x-info {
    color: #ADACAC;
    font-style: italic;
  }

  table.table-data {
    width: auto;

    td {
      font-size: 12px;
    }
  }
}

.about-wrapper {
  img {
    width: 300px;
  }
  .q {
    font-weight: bold;
  }
}

.navbar-nav {
  li {
    a {
      color: #fff !important;
      font-size: 15px !important;
      padding-bottom: 0 !important;
      padding-top: 17px !important;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.progress-bar {
  background-color: #428bca !important;
  color: #fff !important;
  line-height: 29px !important;
}

.progress {
  height: 30px !important;
}